@import '@/shared/styles/variables'
    
.title
    text-transform: uppercase 
    

.title.h1
    font-size: 128px
    font-style: normal
    font-weight: 400
    line-height: 100%
    @media(max-width: $tab)
        font-size: 64px
    @media(max-width: $tab-sm)
        font-size: 48px
.title.h2
    font-size: 96px
    font-style: normal
    font-weight: 400
    line-height: 100%
    @media(max-width: $tab)
        font-size: 48px
    @media(max-width: $tab-sm)
        font-size: 36px
.title.h5
    font-size: 24px
    font-weight: 400
    line-height: 100%
    letter-spacing: -0.96px
.title.h6
    font-size: 16px
    font-weight: 400
    line-height: 100%
    letter-spacing: -0.96px