.section
    margin-top: 4rem
    .clientsListWrapper
        margin-top: 4rem
        margin-bottom: 4rem
        display: flex
        flex-direction: column
        gap: .5rem
        scrollbar-width: thin
        scrollbar-color: rgba(0,0,0,0) rgba(0,0,0,0)
        &::-webkit-scrollbar-thumb
            background-color: rgba(0,0,0,0)
        &::-webkit-scrollbar-track
            background-color: rgba(0,0,0,0)
        .clientsList
            pointer-events: none
            overflow: auto
            display: flex
            align-items: center
            gap: 1rem
            scrollbar-width: thin
            scrollbar-color: rgba(0,0,0,0) rgba(0,0,0,0)
            &::-webkit-scrollbar-thumb
                background-color: rgba(0,0,0,0)
            &::-webkit-scrollbar-track
                background-color: rgba(0,0,0,0)