.sectionTitle.white
    .square
        background: var(--white-color)
.sectionTitle.black
    color: var(--dark-color)
    .square
        background: var(--black-color)
.sectionTitle
    display: flex
    align-items: center
    gap: .5rem
    
    font-size: 14px
    font-style: normal
    font-weight: 400
    line-height: 100% 
    letter-spacing: -0.28px
    text-transform: uppercase 
    .square
        min-width: 14px
        min-height: 14px
        width: 14px
        height: 14px