@import '@/shared/styles/variables'
    
.section
    padding: 4rem 0
    background: var(--white-color)
    @media(max-width: $tab)
        padding: 2rem 0
    .top
        display: flex
        align-items: center
        justify-content: space-between
        .link
            color: var(--black-color)
            display: flex
            align-items: center
            gap: 0.5rem
            font-size: 14px
            font-style: normal
            font-weight: 400
            line-height: 100%
            letter-spacing: -0.28px
            text-transform: uppercase
            svg
                path
                    fill: var(--black-color)
            @media(max-width: $tab)
                font-size: 12px
    .equipmentList.isView
        .equipmentItem
            opacity: 1
            // @for $i from 1 through 6
            //     &:nth-child(#{$i})
            //         transition: opacity var(--trs-500) $i * 150ms, background var(--trs-500)

    .equipmentList
        margin-top: 4rem
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 1rem
        @media(max-width: $desktop-sm)
            grid-template-columns: repeat(3, 1fr)
        @media(max-width: $tab)
            grid-template-columns: repeat(2, 1fr)
        @media(max-width: $mob)
            grid-template-columns: repeat(1, 1fr)
        .equipmentItem
            opacity: 0