.catalog
    border-bottom: 1px solid var(--gray-color)
    flex: 1
    .top
        padding: 24px 0
        border-bottom: 1px solid var(--gray-color)
    .catalogContent
        display: grid
        grid-template-columns: 30% 70%
        .catalogList
            width: 100%
            border-right: 1px solid var(--gray-color)
            height: 100%
            .catalogBtn.active
                color: var(--white-color)
                border-right: 1px solid var(--white-color)
            .catalogBtn
                width: 100%
                border-top: none
                border-left: none
                border-right: none
                
                font-size: 14px
                font-style: normal
                font-weight: 400
                line-height: 170% 
                letter-spacing: -0.28px
                text-transform: uppercase 
                color: var(--text-gray-color)
                transition: var(--trs-300)
                &:hover
                    color: var(--white-color)
                span
                    &:last-child
                        font-size: 10px
                        font-weight: 400
                        line-height: 100%
                        letter-spacing: -0.2px
        .info
            display: flex
            flex-direction: column
             

