@import '@/shared/styles/variables'
    
.catalog
    flex: 1
    display: flex
    flex-direction: column
    height: 100%
    .top
        padding: 24px 0
        border-bottom: 1px solid var(--gray-color)
        .title
            font-size: 96px
            @media(max-width: $tab)
                font-size: 64px
            @media(max-width: $tab-sm)
                font-size: 48px
            @media(max-width: $mob)
                font-size: 28px
    .modalBtnWrapper
        display: none
        background: var(--dark-color)
        height: 64px
        @media(max-width: $tab)
            display: flex
            justify-content: flex-start
            align-items: center
            border-bottom: 1px solid var(--gray-color)
            z-index: 1
            background: var(--white-color)
        button
            height: 64px
            border: none
            font-size: 18px
            font-style: normal
            font-weight: 400
            line-height: 100%
            letter-spacing: -0.72px
            text-transform: uppercase
            width: 100%
            color: var(--dark-color)
            span
                width: 100%
                align-items: center
                display: flex
                justify-content: space-between
    .catalogContent
        display: flex
        flex: 1
        // grid-template-columns: 30% 70%
        @media(max-width: $desktop-sm)
            grid-template-columns: 40% 60%
        @media(max-width: $tab)
            display: grid
            flex: 0
            grid-template-columns: 100%
        .catalogList
            width: 30%
            border-right: 1px solid var(--gray-color)
            // height: 100%
            @media(max-width: $desktop-sm)
                width: 40%
            @media(max-width: $tab)
                display: none
            .catalogBtn.active
                color: var(--white-color)
                border-right: 1px solid var(--white-color)
            .catalogBtn
                width: 100%
                border-top: none
                border-left: none
                border-right: none
                font-size: 14px
                font-style: normal
                font-weight: 400
                line-height: 170% 
                letter-spacing: -0.28px
                text-transform: uppercase 
                color: var(--text-gray-color)
                transition: var(--trs-300)
                &:hover
                    color: var(--white-color)
                span
                    max-width: 330px
                    text-align: left
                    &:last-child
                        font-size: 10px
                        font-weight: 400
                        line-height: 100%
                        letter-spacing: -0.2px
        .info
            width: 70%
            display: flex
            flex-direction: column
            @media(max-width: $desktop-sm)
                width: 60%
            @media(max-width: $tab)
                width: 100%

