body
    background: var(--dark-color)
    color: var(--white-color)

.container
    // padding: 0 32px
    margin: 0 32px

.ymaps-2-1-79-gotoymaps
    display: none !important
.ymaps-2-1-79-gototech
    display: none !important
.ymaps-2-1-79-copyright
    display: none !important
.ymaps-2-1-79-gototaxi
    display: none !important