:root
    --black-color: #000
    --white-color: #fff
    --text-gray-color: #656565
    --text-secondary-gray-color: #B6B6B6
    --gray-color: #272727
    --dark-color: #080808
    --dark-second-color: #171717
    --soft-gray-color: #F0F0F0

    --trs-300: 300ms ease
    --trs-500: 500ms ease
    --trs-800: 800ms ease
    --trs-2000: 2000ms ease

    --z-header: 10
    --z-backdrop: 7
    --z-backdrop-secondary: 5

    --rounded-full: 9999px


    
body
    background: var(--dark-color)
    min-height: 100vh
    color: var(--white-color)
    font-family: 'Onest', Arial, sans-serif

.container
    // padding: 0 32px
    margin: 0 32px
    @media(max-width: $tab)
        margin: 0 16px

.ymaps-2-1-79-gotoymaps
    display: none !important
.ymaps-2-1-79-gototech
    display: none !important
.ymaps-2-1-79-copyright
    display: none !important
.ymaps-2-1-79-gototaxi
    display: none !important
