.header
    display: flex
    align-items: center
    position: sticky
    background: var(--dark-color)
    z-index: var(--z-header)
    top: 0
    right: 0
    left: 0
    border-bottom: 1px solid var(--gray-color)
    padding-left: 2rem
    overflow: hidden
    .logo
        color: var(--white-color)
    .headerContent
        width: 100%
        padding-left: 10rem
        .top
            display: grid
            grid-template-columns: 64% 18% 18%
            border-bottom: 1px solid var(--gray-color)
        .bottom
            display: grid
            grid-template-columns: 16% 16% 16% 16% 36%
