.swiper
    .imageWrapper
        position: relative
        aspect-ratio: 1.5
        img
            position: absolute
            object-fit: cover
    .swiperBottom
        margin-top: 1.5rem
        display: flex
        align-items: center
        justify-content: space-between
        position: relative
        .author
            position: absolute
            top: -2.5rem
            
            font-size: 14px
            font-style: normal
            font-weight: 400
            line-height: 112%
            letter-spacing: -0.28px
            .type
                color: var(--text-gray-color)
        .progress
            
            font-size: 16px
            font-style: normal
            font-weight: 400
            line-height: 100%
            text-transform: uppercase 
        button
            width: 64px
            height: 64px
            border-radius: var(--rounded-full)
            background: var(--dark-color)
            border: 1px solid var(--gray-color)
            cursor: pointer
            display: flex
            align-items: center
            justify-content: center
            svg
                width: 23px
                height: 18px