.interactive
    grid-area: interactive
    border-left: 1px solid var(--gray-color)
    padding: 2rem
    p
        margin-top: 1rem
        margin-bottom: 2rem
        
        font-size: 16px
        font-style: normal
        font-weight: 400
        line-height: 100%
    .imageWrapper
        width: 100%
        aspect-ratio: 2
        position: relative
        img
            position: absolute