@import '@/shared/styles/variables'
    
.interactive
    grid-area: interactive
    border-left: 1px solid var(--gray-color)
    padding: 2rem
    @media(max-width: $tab)
        padding: 2rem 1rem
    p
        margin-top: 2rem
        font-size: 16px
        font-style: normal
        font-weight: 400
        line-height: 100%
        @media(max-width: $tab)
            font-size: 14px
    .swiperWrapper 
        display: flex
        flex-direction: column
        gap: 2rem
        margin-top: 2.5rem
        .navigation 
            display: flex
            justify-content: space-between
            button
                width: 64px
                height: 64px
                border-radius: var(--rounded-full)
                background: var(--dark-color)
                border: 1px solid var(--gray-color)
                cursor: pointer
                display: flex
                align-items: center
                justify-content: center
                transition: var(--trs-300)
                @media(max-width: $tab)
                    width: 48px
                    height: 48px
                svg
                    width: 23px
                    height: 18px
    .imageWrapper
        width: 100%
        aspect-ratio: 2
        position: relative
        img
            position: absolute