@import '@/shared/styles/variables'
    
.section
    display: grid
    grid-template-areas: "task info" "decision info"
    grid-template-columns: 60% 40%
    @media(max-width: $tab-sm)
        grid-template-areas: "info" "task" "decision"
        grid-template-columns: 100%
    .task
        grid-area: task
        padding: 2rem
        border-bottom: 1px solid var(--gray-color)
        display: flex
        flex-direction: column
        gap: 2.5rem
        @media(max-width: $tab)
            gap: 1.5rem
            padding: 1rem
        p
            font-size: 16px
            font-style: normal
            font-weight: 400
            line-height: 100%
            @media(max-width: $tab)
                font-size: 14px
    .decision
        grid-area: decision
        padding: 2rem
        border-bottom: 1px solid var(--gray-color)
        display: flex
        flex-direction: column
        gap: 2.5rem
        @media(max-width: $tab)
            gap: 1.5rem
            padding: 1rem
        .content
            display: flex
            flex-direction: column
            gap: 1rem
            p
                font-size: 16px
                font-style: normal
                font-weight: 400
                line-height: 100%
                @media(max-width: $tab)
                    font-size: 14px
    .info
        grid-area: info
        padding: 2rem
        border-left: 1px solid var(--gray-color)
        border-bottom: 1px solid var(--gray-color)
        display: flex
        flex-direction: column
        gap: 1.5rem
        @media(max-width: $tab)
            padding: 1rem
        .infoItem
            display: flex
            align-items: center
            gap: .5rem
            span
                font-size: 14px
                font-style: normal
                font-weight: 400
                line-height: 112%
                letter-spacing: -0.28px 
                @media(max-width: $tab)
                    font-size: 12px