@font-face {
    font-family: 'Actay Wide';
    src: url('../fonts/Actay-Regular.woff'), url('../fonts/Actay-Regular.woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Actay Wide';
    src: url('../fonts/Actay-Bold.woff'), url('../fonts/Actay-Bold.woff2');
    font-weight: 700;
}