@import '@/shared/styles/variables'
    
    
.swiper
    
    .swiperBottom
        margin-top: 2rem
        display: flex
        align-items: center
        justify-content: space-between
        .progress
            
            font-size: 16px
            font-style: normal
            font-weight: 400
            line-height: 100%
            text-transform: uppercase 
        button
            width: 64px
            height: 64px
            border-radius: var(--rounded-full)
            background: var(--dark-color)
            border: 1px solid var(--gray-color)
            cursor: pointer
            display: flex
            align-items: center
            justify-content: center
            transition: var(--trs-300)
            @media(max-width: $tab)
                width: 48px
                height: 48px
            svg
                width: 23px
                height: 18px